$background-primary: #232536;
$background-secondary: #FFE6D2;
$background-tertiary: #ECF8F9;
$background-info: #662DFF;
$border-link: #FFA155;
$color-black: black;
$font-weight : 500;
$font-weight-bold: 600;
$text-color: white;
$maximum: 100%;
$button-color: #444CFC;
$background-process: #F9F9FF;
$background-post: #F9F9F9;